extends layout

block title
  | profile

block content
  a(href='/logout', class='logout') Logout
  div(class='container')
    h1(class='fullname') #{user.firstName} #{user.lastName}
    h2 Interests:
    div(id='tags')
    if other_user == 0
      a(href='/edit_profile')
        h3 Edit Your Profile!
    div(class='row')
      div(class='col-sm-6')
        a(href='/create_new_event')
          h3 Create and host a new event
        a(href='/events')
          h3 Look for Events
        br
        a(href='/attending/'+user._id)
          h4 Events Attending: #{user.attending.length}
        a(href='/hosting/'+user._id)
          h4 Events Hosting: #{user.hosting.length}
        br
        a(href='/followers/'+user._id)
          h4 Followers: #{user.followers.length}
        a(href='/following/'+user._id)
          h4 Following: #{user.following.length}
    if other_user == 1 && follower == false
        form(action='/follow', method='POST')
            input(type='hidden',name='id', value='#{user._id}')
            button(type='submit') Follow

block script
  script.
      var this_user = !{JSON.stringify(user)}
      console.log(this_user);
      for( var i = 0; i < this_user.tags.length; i++){
        if(this_user.tags[i] != ''){
          $('#tags').append("<span> " + this_user.tags[i] + ", </span>");
        }
      }